html, body{
    height:fit-content;
}

main{
    padding: 16px;
    margin-bottom: 50px;
}

main>h2, h3{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

main>h3{
    margin-top: 50px;
}

main>p{
    font-weight: 300;
    font-size: 10pt;
    margin: 3px;
}