body{
    padding: 0 60px;
    position: relative;
}
  
.SAi{
    margin-top: 7%;
    height: auto;
}

.SAi>p:nth-child(1){
    
    font-size: 45pt;
    word-wrap: break-word;
   
}

.SAi>p>br{
    display: block;
}

.SAi>p:nth-child(2){
    font-size: 25pt;
}



.FlexBt{
    margin-top: 50px;
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.FlexBt>div:nth-child(1){
    margin-right: 20px;
}

.B1{
    /* width: max-content; */
    flex-direction: column;
    width: fit-content;
    padding: 7px 23px;
    margin-bottom: 20px;
    border: 1px solid white;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.Sytem{
    margin-left: 30px;
}

.reseaux{
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.contact{
    font-family: Nasalization;
    font-size: 19pt;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    right: 200px;
    height: 40px;
    padding: 15px 20px;
    border: 1px solid #F5B400;
    background-color: #F5B400;
}