body, html{
    overflow: hidden;
}

h2{
    display: block;
    margin: 0;

}

.nomPlanete{
    text-align: center;
}

.next{
    border: 1px solid white;
    padding: 10px;
    width: 150px;
    font-size: 18pt;
    text-decoration: none;
    margin-top: 10px;
}

.listeBiens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    bottom: 0;
    opacity: 100%;
}

.listeBiensPC{
    margin-left: 50px
}

.listeBiens>div{
    display: flex;
}

.listeBiens>div>div{
    border-style: solid;
    border-color: transparent;
    height: 45px;
    width: 45px;
    transform: rotate(45deg);
    margin: 15px 75px;
    background-image: linear-gradient(red, blue);
    /* display: flex; */
}

svg{
    align-items: center;
}

.Bien{
    position: absolute;
    top: 25%;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0 50px 20px 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(112,112,112,0.7);
    opacity: 100%;
    padding: 20px;
    transform: translate(-120%);
    transition: 0.4s;
    
}

.Bien2{
    transform: translate(0%);
}

.Bien>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

.fermerBien{
    margin: 12px 12px 12px auto;
}

.nomBien{
    font-size: 32pt;
    text-align: left;
}

.imageici{
    display: none;
}

.imageBien{
    width:100%;
}

.typeBien{
    font-size: 14pt;
    margin: 0;
    font-weight: 300;
    display: block;
}

.descriptionBien{
    font-size: 9pt;
    margin-top: 25px;
    font-weight: 400;
}

.Bien>div:nth-child(4){
    margin-top: 25px;
    font-size: 16pt;;
    gap: 100px;
    }
.Oppo{
    display: flex;
    justify-content: space-between;
}

.prixBien{
    white-space: nowrap;
}

.nousContacter{
    
    border-style: solid;
    border-color: white;
    padding: 15px 20px;
    font-weight: 300;
    font-size: 16pt;
    color:white;
    text-decoration: none;
}

.listeFlex>div{
    margin-left: 120px;
}

.posi{
   
    display: flex;
    justify-content: center;
}

.nousContacter:visited{
    color: white;
    text-decoration: none;
}

.SVGtel{
    position: fixed;
    transform: translate(-500vw);
}

.SVGpc{
    display: block;
    height: auto;
    width: 300px;
}

.plansDe{
    display: block;
    width: 350px;
    margin: auto;
    text-align: left;
}

.listeFlex{
    margin-top: 76px;
    display: flex;
    gap: 10%;
    justify-content: left;
    font-size: 24pt;
}

path{
    transition: 0.5s;
    cursor: url(../../img/RR.svg), pointer;
}

path:hover{
    stroke: white;
    stroke-width: 5px;
    transition: 0.3s;
}

.diff{
    position: absolute;
    transform: rotate(270deg);
    top: 50%;
    bottom: 50%;
    left: 0;
}