body, html{
    overflow: hidden;
}

h2{
    display: flex;
    justify-content: center;
}

.listeBiens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    bottom: 0;
    opacity: 100%;
}

.listeBiens>div{
    display: flex;
}

.listeBiens>div>div{
    border-style: solid;
    border-color: transparent;
    height: 45px;
    width: 45px;
    transform: rotate(45deg);
    margin: 15px 75px;
    background-image: linear-gradient(red, blue);
    /* display: flex; */
}

svg{
    align-items: center;
}

.Bien{
    position: absolute;
    top: 25%;
    bottom: 50%;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0 50px 20px 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #6E6B74;
    padding: 20px;
    transform: translate(-100%);
    transition: 0.4s;
}

.Bien2{
    transform: translate(0%);
}



.Bien>div:nth-child(1){
    display: flex;
    flex-direction: column-reverse;
}

.fermerBien{
    margin: 12px 12px 12px auto;
}

.nomBien{
    display: flex;
    justify-content: center;
    font-size: 32pt;
    margin: -50px auto 0 auto;
    text-align: left;
}

.imageici{
    display: none;
}

.imageBien{
    width:100%;
}

.typeBien{
    font-size: 14pt;
    margin: 10px 0 0 35px;
    font-weight: 300;
    
}

.descriptionBien{
    font-size: 9pt;
    margin-top: 25px;
    font-weight: 400;
}

.Bien>div:nth-child(4){
    margin-top: 25px;
    font-size: 16pt;;
    gap: 100px;
    
}

.prixBien{
    white-space: nowrap;
}

.nousContacter{
    margin-top: 35px;
    border-style: solid;
    border-color: white;
    padding: 15px 20px;
    font-weight: 300;
    font-size: 16pt;
    color:white;
    text-decoration: none;
}

.nousContacter:visited{
    color: white;
    text-decoration: none;
}

/* .displayNone{
    animation: disparait 0.6s;
}

.displayBlock{
    animation: disparait 0.6s reverse;
}

@keyframes disparait{
    from{opacity: 100%;}
    to{opacity: 0;}
} */


.SVGtel{
    position: fixed;
    transform: translate(-500vw);
}

.SVGpc{
    display: block;
}

.plansDe{
    display: block;
    width: 300px;
    margin: auto 0;
    text-align: left;
}

.listeFlex{
    display: flex;
    justify-content: space-evenly;
    font-size: 24pt;
}