h1{
    display: flex;
    justify-content: center;
}

/* .ListePlanetes{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.Description{
    display: flex;
    align-items: center;
    height:25%;
    text-align: left;
    margin: 50px 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Dégradé{
    position: absolute;
    z-index: -9;
    opacity: 85%;
    min-height: 60%;
    width: 100%;
   
}


.Import{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Import>div{
    background-color: #7F0611;
    width: max-content;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    font-size: 18pt;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* 55 */
.DécouvrirPlans>div>a{
    border-style: solid;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
}

.DécouvrirPlans:visited{
    text-decoration: none;
    color: white;
}

.flexPlanetes{
    display: flex;
    justify-content: space-around;
}

.ListePlanetes>div{
    width: 300px;
}