body{
    overflow: hidden;
}

section{
    transition: 0.8s;
    transform: scale(1.2);
}

section>div>div>a{
    display: block;
    position: fixed;
    top: -24px;
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

section>div>.Zoom{
    transition: 0.4s;
    transform: scale(5);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    /* animation: tournePlanetes 0s; */
}
/* Mise en pause de l'animation */
.Pause *{
    animation-play-state: paused;
}

.Flexy{
    display: none;
}


.Change{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(+100%);
    transition: 0.5s;
}

.Change2{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(0%);
}
