.SAi{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 28px;
    padding: 0 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.SAi>p{
    margin: 5px 15px;
}

.SAi>p:nth-child(1){
    font-weight: bolder;
}

.SAi>p:nth-child(2){
    font-size: x-large;
}

.FlexBt{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 35px;
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.B1{
    /* width: max-content; */
    flex-direction: column;
    width: fit-content;
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid white;
    font-size: 12pt;
    text-align: center;
}

.B1>a,
.B1>a:visited{
    color: white;
    text-decoration: none;
}